
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Projet 2018{% endblock %}</title>
        <!-- Bootstrap Styles-->
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" />
        <!-- FontAwesome Styles-->
        <link href="{{ asset('assets/css/font-awesome.css') }}" rel="stylesheet" />
        <!-- Morris Chart Styles-->
        <link href="{{ asset('assets/js/morris/morris-0.4.3.min.css') }}" rel="stylesheet" />
        <!-- Custom Styles-->
        <link href="{{ asset('assets/css/custom-styles.css ') }}" rel="stylesheet" />
        <link href="{{ asset('assets/typeahead/jquery.typeahead.css ') }}" rel="stylesheet" />
    </head>
    <body>
        {% block body %}
            <div id="wrapper">

                {% block navbar %}
                    <nav class="navbar navbar-default top-navbar" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path('er_ajout') }}">
                                Projet 2018
                            </a>
                        </div>

                        <ul class="nav navbar-top-links navbar-right">
                            <!-- /.dropdown -->
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user fa-fw"></i>Profile
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <i class="fa fa-sign-out fa-fw"></i> Déconnexion
                                        </a>
                                    </li>
                                </ul>
                                <!-- /.dropdown-user -->
                            </li>
                            <!-- /.dropdown -->
                        </ul>
                        <span style="color: white; float: right; margin-top: 19px;">
                            Bonjour {{ app.user.username }}, bienvenu à la gestion des membres.
                        </span>

                    </nav>
                {% endblock %}

                {% block content %}
                    <div id="page-wrapper">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Basic Tabs
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-tabs">
                                    <li class="" style="width: 25%;">
                                        <a href="{{ path('er_ajout') }}" data-toggle="tab">Ajouter
                                        </a>
                                    </li>
                                    <li class="active" style="width: 25%;">
                                        <a href="{{ path('er_cherche') }}" data-toggle="tab">Listes
                                        </a>
                                    </li>
                                    <li class="" style="width: 25%;">
                                        <a href="{{ path('er_admin') }}" data-toggle="tab">Admin</a>
                                    </li>
                                    <li class="" style="width: 25%;">
                                        <a href="#tabaides" data-toggle="tab">Aides</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    {% block tab %}
                                        <div class="tab-pane fade active in" id="ajouter">
                                            <h4>Home Tab</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    {% endblock %}
                                </div>
                            </div>
                        </div>                        
                    </div>
                {% endblock %}


                {% block javascripts %}
                    <!-- jQuery Js -->
                    <script src="{{ asset('assets/js/jquery-2.1.0.min.js') }}"></script>
                    <!-- Bootstrap Js -->
                    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
                    <!-- Metis Menu Js -->
                    <script src="{{ asset('assets/js/jquery.metisMenu.js') }}"></script>
                    <!-- Morris Chart Js -->
                    <script src="{{ asset('assets/js/morris/raphael-2.1.0.min.js') }}"></script>
                    <!-- <script src="{{ asset('assets/js/morris/morris.js') }}"></script> -->
                    <!-- Custom Js -->
                    <script src="{{ asset('assets/typeahead/jquery.typeahead.js') }}"></script>           
                    <script src="{{ asset('assets/js/custom-scripts.js') }}"></script>           
                {% endblock %}

            </div>
        {% endblock %}
    </body>
</html>

